.projectFirstSectionContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: none;
  height: auto;
}

.projectSecondSectionContainer {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.projectImagesContainer {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
  height: calc((100vw - 2em) * 0.5625);
  width: calc(min(var(--max-width), 100vw) - 4em);
}

.projectImagesSlider {
  height: fit-content;
  display: flex;
  width: max-content;
  transition: transform .3s ease-in-out;
}

.projectImageContainer {
  width: calc(min(var(--max-width), 100vw) - 6em);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 0 2.75em;
  height: auto;
}

.projectImageContainer.projectCurrent {
  opacity: 1
}

.projectPrev, .projectNext {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--text-color-gray);
  font-size: 2.5em;
  z-index: 5;
  bottom: 0;
  top: 0;
  cursor: pointer;
  padding: 0em .25em;
  transition: all .3s ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

.projectPrev:hover, .projectNext:hover {
  background-color: rgba(0,0,0,.2);
  color: var(--text-color-highlight);
}

.projectPrev {
  left: 0;
  visibility: hidden;
}

.projectNext {
  right: 0;
  transform: translatex(calc(-50% - 0.25em));
}

.projectSliderPoints {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5em;
  gap: 1.25em;   
  z-index: 5;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
  color: var(--text-color-gray);
  -webkit-tap-highlight-color: transparent;
}

.projectSliderPoints svg {
  user-select: none;
  transition: color .3s ease-in-out;
  transition-property: color, transform;
  color: inherit;
  filter: drop-shadow(1px 1px 4px rgb(0 0 0 / 0.2));
}

.projectSliderPoints .projectSelectedSlider {
  color: var(--text-color-vivid);
  transform: scale(1.05);
}

.projectImagesContainer img {
  position: inherit !important;
  height: 100% !important;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.projectDetailsContainer {
  display: flex;
  gap: 1em;
  flex: 1;
  height: -webkit-fill-available;
  max-height: inherit;
}

.projectDescription {
  flex: 1;
  width: 70%;
  padding: 2em;
  background-color: var(--middle-color-light);
  overflow: auto;
  height: fit-content;
  max-height: inherit;
}

.projectDetails {
  width: 30%;
  padding: 2em;
  background-color: var(--middle-color-light);
  height: fit-content;
  max-height: inherit;
}

.projectDetails ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  color: var(--text-color-gray);
  line-height: 1.75em;
}

.projectDetails ul li strong {
  color: var(--text-color-highlight)
}

@media (max-width: 1023px) {
  .projectImageContainer {
    width: calc(min(var(--max-width), 100vw) - 4em);
  }
  .projectNext {
    transform: translateX(0);
  }
  .projectDetailsContainer {
      flex-wrap: wrap;
  }
  
  .projectDescription {
      flex-basis: 60%;
  }
  
  .projectDetails {
      flex: 1;
      min-width: 16em;
  }
}