.deploymentsSectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deploymentsContainer {
  display: grid;
  width: 100%;
  row-gap: .5em;
}

.deploymentsRow, .deploymentsHeader {
  background-color: var(--middle-color-light);
  box-shadow: var(--border-shadow-block);
  padding: 1em 1.5em;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 12.5em auto 4em 2.5em 4em;
  gap: 2em;
  row-gap: 1em;
  justify-items: center;
  align-items: center;
  
}

.deploymentsHeader h3 {
  margin: 0;
}

.deploymentsRow {
  transition: background .3s ease-in-out
}

.deploymentsRow a {
  height: 1.5em;
}

.deploymentsRow p:first-child, .header h3:first-child {
  justify-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: var(--text-color-highlight)
}


.deploymentsRow.rowOk:hover {
  background-color: rgba(26, 146, 66, 0.1);
}

.deploymentsRow.rowUnknow:hover {
  background-color: rgba(168, 156, 43, 0.1);
}

.deploymentsRow.rowDown:hover {
  background-color: rgba(168, 69, 39, 0.1);;
}

.deploymentsDescription {
  justify-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 767px) {
  .deploymentsRow, .deploymentsHeader {
    grid-template-columns: 1fr 4em 2.5em 4em;
  }

  .deploymentsDescription {
    display: none;
  }
}

.deploymentsRow.rowOk p svg,
.deploymentsRow.rowUnknow p svg,
.deploymentsRow.rowDown p svg {
  font-size: .6em;
  transition: transform .5s ease-in-out;
}

.deploymentsRow:hover .rowOk svg,
.deploymentsRow:hover .rowUnknow svg,
.deploymentsRow:hover .rowDown svg {
  transform: scale(1.2);
}

.deploymentsRow.rowOk p svg {
  color: rgba(26, 146, 66, 1);;
}

.deploymentsRow.rowUnknow p svg {
  color: rgb(168, 156, 43);
}

.deploymentsRow.rowDown p svg {
  color: rgba(168, 69, 39, 0.904);
}

@media (max-width: 423px) {
  .deploymentsRow, .deploymentsHeader {
    gap: 1em;
    padding: .5em 1.5em;
  }
  
}
