.container {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  z-index: 25;
  height: var(--header-height);
}

.container.open > * {
  pointer-events: all;
}

@media (max-width: 1023px) {
  .container {
    position: fixed;
    height: var(--header-height);
    background-color: var(--back-color);
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 15;
  }

  .menuContainer {
    transform: translateX(var(--header-width-open));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

  }
}