.container {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    filter: blur(1px) brightness(1);
    opacity: .5;
    transition-property: filter, transform;
    transition-duration: var(--menu-open-transition);
    transition-timing-function: var(--menu-open-cubic);
}

.container.open {
    filter: blur(2px) brightness(0.8);
    transform: translateX(1em);
}

.container svg {
    height: 100%;
}