.container {
  background-color: var(--middle-color);
  padding: calc(2.5em - var(--svg-basic-height) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.menuToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1em;
}

.menuToggle {
  z-index: 2;
}

@media (max-width: 1023px) {
  .container {
      padding: 0;
      height: var(--header-height);
      padding-left: 2em;
  }
  .menuToggle {
    transition: transform var(--menu-open-transition) var(--menu-open-cubic);
    transition-property: transform opacity;
    transform: translateX(calc(var(--header-width) * -1));
  }
  .menuToggle.open {
    transform: translateX(0);
  }

  .menuToggle.asideOpen {
    opacity: 0.5;
  }
}