.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  flex: 1;
  padding-bottom: 2em;
}

.projectsContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  position: relative;
}

.viewMore {
  position: absolute;
  right: 0;
  bottom: -2em;
  color: var(--text-color-vivid);
  transition: transform .15s ease-in;
  transition-property: transform, color;
}

.viewMore:hover {
  transform: scale(1.05);
  color: var(--text-color-vivid-light);
}

@media (max-width: 1023px) {
  .projectsContainer {
      justify-content: center;
  }
} 