.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
}

.introductionContainer {
    padding: 2em;
    background-color: var(--middle-color-light);
    box-shadow: var(--border-shadow-block);
}

.container span {
    color: var(--text-color-vivid);
    font-size: 1.1em;
}

.container strong {
    font-size: 1.3em;
}

