.container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  filter: blur(1px) brightness(1);
  opacity: .5;
  transition: transform var(--menu-open-transition) var(--menu-open-cubic);
  width: 100vw;
  overflow: hidden;
}

.container.open {
  transform: translateX(1em);
}

.container svg {
  height: 100%;
}

@media (max-width: 1023px) {
  .container.open {
      transform: translateX(0);
  }
}