.container {
    width: 100%;
    padding: .75em 2em; 
    background-color: var(--middle-color-light);
    color: var(--text-color-gray);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: var(--border-shadow-block);
}
.container span {
    font-size: .8em;
}