.container, .containerPlaceHolder {
    padding: 2em;
    background-color: var(--middle-color-light);
    max-width: 23em;
    min-width: 19em;
    flex: 1;
    box-shadow: var(--border-shadow-block);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.containerPlaceHolder {
    width: 100%;
    max-width: max-content;
    opacity: 1;
}

.container:hover {
    transform: scale(1.05);
}

.imageContainer {
    width: 100%;
    margin-bottom: .5em;
    height: 9.5em;
}

.imageContainer img {
    position: inherit !important;
    object-fit: contain;
}

.imagePlaceHolder {
    width: 100%;
    height: 100%;
}

.container h3, .containerPlaceHolder h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: .5em;
}

.container p, .containerPlaceHolder p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.containerPlaceHolder p, .containerPlaceHolder h3 {
    opacity: 0;
}