.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.introductionContainer {
    padding: 2em;
    background-color: var(--middle-color-light);
    box-shadow: var(--border-shadow-block);
}

