.container {
  padding: 2em;
  background-color: var(--middle-color-light);
  max-width: 23em;
  min-width: 19em;
  flex: 1;
}

.container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  color: var(--text-color-gray);
  line-height: 1.75em;
}

.container ul li strong {
  color: var(--text-color-highlight)
}

.container a,
.container svg {
  height: 1.5em;
}