.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: calc(100vh - 6em);
    max-height: var(--max-height);
    overflow: hidden;
}

.firstSectionContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.secondSectionContainer {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.imagesContainer {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: hidden;
    height: 100%;
}

.imagesSlider {
    height: inherit;
    display: flex;
    width: max-content;
    transition: transform .3s ease-in-out;
}

.imageContainer {
    width: calc(min(var(--max-width), 100vw) - var(--header-width) - var(--aside-width) - 6em);
    transition: opacity 0.3s ease-in-out;
    opacity: 0
}

.imageContainer.current {
    opacity: 1
}

.prev, .next {
    position: absolute;
    display: flex;
    align-items: center;
    color: var(--text-color-gray);
    font-size: 3em;
    z-index: 5;
    bottom: 0;
    top: 0;
    cursor: pointer;
    padding: 0em .5em;
    transition: all .2s ease-in-out;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,.2);
    color: var(--text-color-highlight)
}

.prev {
    left: 0;
    visibility: hidden;
}

.next {
    right: 0;
}

.imagesContainer img {
    position: inherit !important;
    height: 100% !important;
    object-fit: contain;
}

.detailsContainer {
    display: flex;
    gap: 1em;
    flex: 1;
    height: -webkit-fill-available;
    max-height: inherit;
}

.description {
    flex: 1;
    width: 70%;
    padding: 2em;
    background-color: var(--middle-color-light);
    overflow: auto;
    height: fit-content;
    max-height: inherit;
}

.details {
    width: 30%;
    padding: 2em;
    background-color: var(--middle-color-light);
    height: fit-content;
    max-height: inherit;
}

.details ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    color: var(--text-color-gray);
    line-height: 1.75em;
}

.details ul li strong {
    color: var(--text-color-highlight)
}
@media (max-width: 1023px) {

    .imageContainer {
        width: calc(min(var(--max-width), 100vw) - 4em);
    }
}