.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container svg {
  height: 2em;
}

.container svg > *,
.container svg > defs > * > * {
  transition: all .5s cubic-bezier(.11,.11,.37,1.07);
}