.container {
  height: 100%;
  width: var(--aside-width);
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: var(--border-shadow);
  -moz-box-shadow: var(--border-shadow);
  box-shadow: var(--border-shadow);
  flex-shrink: 0;
  z-index: 25;
  position: relative;
  pointer-events: all !important;
}

.asideToggle {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1em;
  right: 2em;
  top: 2em;
}

@media (max-width: 1023px) {
  .container {
    transform: translateX(-100%);
    position: absolute;
    transition: transform var(--menu-open-transition) var(--menu-open-cubic);
  }
  .container.menuOpen {
    pointer-events: none !important;
  }

  .container > button {
    transition: opacity .3s ease-in-out;
  }

  .container.menuOpen > button {
    opacity: 0.5;
  }

  .container.open {
    transform: translateX(0);
  }
  .asideToggle {
    display: flex;
    transition: transform var(--menu-open-transition) var(--menu-open-cubic);
    transform: translateX(var(--header-width));
  }
  .container.open .asideToggle {
    transform: translateX(0);
  }
}