.container {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.container img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.container img:hover {
  transform: scale(1.1);
}