.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: var(--border-shadow-block);
  flex: 1;
}

.formContainer form {
  width: 100%;
  background-color: var(--middle-color-light);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  height: 100%;
  flex: 1;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.inputContainer:nth-child(3) {
  flex: 1;
}

.inputContainer label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.25em;
  color: var(--text-color-gray);
  background-color: var(--back-color);
  transition: background .5s ease-in-out;
}

.inputContainer input, .inputContainer textArea {
  flex: 1;
  background-color: var(--middle-color);
  color: var(--text-color-highlight);
  padding: 1.25em;
}

.inputContainer svg {
  pointer-events: none;
  color: inherit;
  font-size: .5em;
  transition: color .2s ease-in-out;
}

.inputContainer input:focus + label,
.inputContainer textArea:focus + label {
  background-color: var(--text-color-vivid);
  color: var(--back-color);;
}

.inputContainer input:not(:placeholder-shown) + label,
.inputContainer textArea:not(:placeholder-shown) + label {
  background-color: var(--text-color-vivid);
  color: var(--back-color);
}

.container button {
border: none;
outline: none;
background-color: var(--text-color-vivid);
color: var(--back-color);
font-weight: 600;
font-size: .8em;
padding: 1em 2em;
width: fit-content;
align-self: flex-end;
font-family: inherit;
cursor: pointer;
transition: background .2s ease-in-out;
transition-property: background, filter;
}

.container button:disabled {
filter: brightness(.6);
}

.footer {
width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
margin-top: 1em;
flex-wrap: wrap-reverse;
gap: 1em;
}

.footer p {
visibility: hidden;
color: var(--text-color-vivid);
flex: 1;
min-width: fit-content;
}

.footer p.error {
color:rgb(247 95 49);
visibility: visible;
}

.footer p.sent {
color:rgb(33, 214, 103);
visibility: visible;
}

.formContainer form.sendingMessage .footer p {
visibility: visible;
}

.footer p:not(.error):not(.sent):after {
overflow: hidden;
display: inline-block;
vertical-align: bottom;
content: ".\00a0.\00a0.\00a0";
}

.formContainer form.sendingMessage .footer p:not(.error):not(.sent):after {
width: 0px;
-webkit-animation: ellipsis steps(4,end) 0.8s infinite;      
animation: ellipsis steps(4,end) 0.8s infinite;
}

@keyframes ellipsis {
to {
  width: 1.6em;    
}
}

@-webkit-keyframes ellipsis {
to {
  width: 1.6em;     
}
}