.container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15em;
  background-color: var(--back-color);
  -webkit-box-shadow: var(--border-shadow);
  -moz-box-shadow: var(--border-shadow);
  box-shadow: var(--border-shadow);
  transform: translateX(10em);
  transition: transform var(--menu-open-transition) var(--menu-open-cubic);
}

.container.open {
  transform: translateX(0em);
}