.container {
  background-color: var(--middle-color);
  padding: 1em calc(2.5em - var(--svg-basic-height) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container button {
  width: var(--svg-basic-height);
  height: var(--svg-basic-height);
  background-color: var(--text-color-vivid);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.container span {
  font-size: .75em;
}