.container {
  background-color: var(--middle-color);
  padding: calc(2.5em - var(--svg-basic-height) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1em;
}