.container {
  background-color: var(--middle-color);
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1em;
}