.container {
  flex: 1;
  color: var(--text-color-gray);
  display: flex;
  align-items: center;
  background-color: var(--back-color);
  overflow: auto;
  overflow-x: hidden;
  font-size: .95em;
}

.container > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.container > ul > li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.container > ul > li > a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 2em;
}

.container >  ul > li > a:hover {
  color: var(--text-color-highlight)
}

.container >  ul > li.active > a {
  color: var(--text-color-vivid)
}

.container >  ul > li > a > svg {
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.3s ease-in-out;
  transition-property: transform, color;
}

.container >  ul > li.active > a > svg{
  color: var(--text-color-vivid);
  transform: scale(1.1)
}

.container >  ul > li > a:hover > svg {
  color: inherit;
  transform: scale(1.2);
}

.container > ul > li > a > div {
  color: inherit;
  opacity: 0;
  transition-property: color, transform, opacity;
  transition-duration: var(--menu-open-transition);
  transition-timing-function: ease-out;
  cursor: pointer;
  transform: translateX(5em);
}


.container.open > ul > li > a > div {
  transform: translateX(0em);
  opacity: 1;
}

.projects {
  height: -1em;
  overflow: hidden;
  background-color: var(--back-color);
  flex-direction: column;
  gap: 1em;
  padding: 0;
  box-shadow: inset 0 .3em .5em 0 rgb(15 15 20 / 20%);
  filter: brightness(.9);
  display: flex;
  max-height: 0;
  transition: all .5s ease-in-out;
}

.projects li a {
  padding: 0 2em;
}

.projects li:first-child {
  margin-top: 1em;
}

.projects li:last-child {
  margin-bottom: 1em;
}

.projects.projectsOpen {
  max-height: 8em;
  margin-top: 1em;
}