.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 1em;
}

.content {
  display: flex;
  background-color: var(--background-front-color);
  max-width: calc(var(--max-width) - 2em);
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(20, 20, 30, .2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(20, 20, 30, .2);
  box-shadow: 0px 0px 20px 0px rgba(20, 20, 30, .2);
}